# ros2 files
build/
install/
log/

# model_path or key
*.env
*.tflite
resource/.env

# never upload doosan-package
doosan-robot2
src/doosan-robot2/

# python cache
__pycache__/
*.pyc

# editor
.vscode/
